{
  "dev": {
    "key": "MY_DEV_KEY_HERE",
    "address": "MY_DEV_ADDRESS_HERE"
  },
  "ropsten": {
    "key": "MY_ROPSTEN_KEY_HERE",
    "address": "MY_ROPSTEN_ADDRESS_HERE"
  },
  "mainnet": {
    "key": "MY_MAIN_KEY_HERE",
    "address": "MY_MAIN_ADDRESS_HERE"
  }
}